.button {
  border-top: 1px solid #95cdf0;
  background: #0d2d57;
  background: -webkit-gradient(linear, left top, left bottom, from(#7895b3), to(#0d2d57));
  background: -webkit-linear-gradient(top, #7895b3, #0d2d57);
  background: -moz-linear-gradient(top, #7895b3, #0d2d57);
  background: -ms-linear-gradient(top, #7895b3, #0d2d57);
  background: -o-linear-gradient(top, #7895b3, #0d2d57);
  padding: 11.5px 23px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 23px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  vertical-align: middle;
}

.button:hover {
  border-top-color: #18265e;
  background: #18265e;
  color: #ccc;
}

.button:active {
  border-top-color: #060c47;
  background: #060c47;
}