<?php
namespace media;

include_once $_SERVER['NP_ROOT'] . '/media/init.php';

class css extends classes\view_css {

  public function run() {
    $this->add_css_file('css/user/base.css');
    $this->render_media();
  }

}

$css = new css();
$css->run();
