{% extends "base.twig" %}

{% block title %}
  Lemonade Stand 2
{% endblock %}

{% block body_class %}user{% endblock %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="//media.{{ constants.domain }}/css/user/dynamic.css">
{% endblock %}

{% block js %}
  {{ parent() }}
{% endblock  %}

{% block content %}
    
  <section class="main">
    {% block main_content %}{% endblock %}
  </section>
    
  <footer>
    {% block footer %}
    &copy; {{ "now"|date("Y") }}
    {% endblock %}
  </footer>

{% endblock %}
