{% extends "user_base.twig" %}

{% block main_content %}
  <h3>Edit Group Memberships</h3>

  <a href="#" class="button">Save</a>
  <a href="http://www.{{ constants.domain }}/dashboard/" class="button2">Dashboard</a>
  <a href="http://www.{{ constants.domain }}/" class="button3">Create a new group</a>

  figure out if link to preferences or embedded preferences

{% endblock %}
