{% extends "user_base.twig" %}

{% block main_content %}
   <h3>Which group would you like to dine with?</h3>

   <h3>Where would you like to eat?</h3>

   <a href="http://www.{{ constants.domain }}/account/" class="button">My Account</a>
{% endblock %}
